@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

.Product {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 5em 2.3%;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.Product-cover {
  height: 160px;
}

.Product-image {
  object-fit: cover;
  background: black;
}

.Product-title {
  margin: 5px 0 0 0;
  color: teal;
  white-space: normal;
}

.Product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.Product button{
  padding: 8px;
  margin:5px 0;
  background-color: #ad1616;
  color: white;
  border: none;
}

.Product button:hover{
  background-color: teal;
}


